body{
    margin: 0;
    padding: 0;
    background: url(bg.jpg) repeat;
}

.clearing {clear: both;}

#main_wrapper{
    padding: 20px;
}

#slider1_container{
    float: left;
    width: 300px;
    margin: 30px 20px 20px 20px;
    position: relative;
    overflow: hidden;
    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
    box-shadow: 0 20px 15px -10px #000;
    -moz-box-shadow: 0 20px 15px -10px #000;
    -webkit-box-shadow: 0 20px 15px -10px #000;
}

#slider1_container img{
    width: 100%;
    height: auto;
}

#yantra_list{
    float: right;
    width: 885px;
    padding: 10px;
    text-align: center;
}

#yantra_list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#yantra_list ul li{
    display: inline-block;
    max-width: 150px;
    margin-bottom: 20px;
    margin-right: 7px;
    padding: 7px 8px;
    background-color: #864420;
    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
    box-shadow: 0 10px 7px -5px #33190C;
    -moz-box-shadow: 0 10px 7px -5px #000;
    -webkit-box-shadow: 0 10px 7px -5px #000;
}

#yantra_list ul li img {
    width: 100%;
    height: 150px;
}

#yantra_list ul li input {
    padding: 5px 7px;
    width: 80px;
}

#yantra_list ul li input:focus{
    background-color: #FF0000;
    color: #FFF;
}

#yantra_content{
    float: left;
    width: 100%;
    padding-top: 40px;
    background-color: #864420;
    
    box-shadow: 0 10px 10px -3px #000 inset;
    -moz-box-shadow: 0 10px 10px -3px #000 inset;
    -webkit-box-shadow: 0 10px 10px -3px #000 inset;
}

#yantra_content table{
    color: #FFF;
    border-collapse: collapse;
}

#yantra_content table, #yantra_content td, #yantra_content th {
    border: 1px solid #FFF;
}

#yantra_content table tr {margin-bottom: 10px;}

#yantra_content table td{
    text-align: center;
    vertical-align: middle;
}

#yantra_content table .text{
    width: 60px;
}

#yantra_content table .image{
    display: block;
    width: 150px;
}

#yantra_content table .image img{
    width: 100%;
    height: auto;
}

#yantra_content #content{
    height: 250px;
    overflow: auto;
    width: 80%;
    padding-right: 10px;
    margin: 0 auto;
}