body{
    background-color: #ffff00;
}
@media screen and (max-width : 1600px) and (min-height : 850px) {
    #yantra_content #content{
        height: 370px;
    }
}
@media screen and (max-height: 849px) and (max-width: 1600px){
    #yantra_content #content {
        height: 242px;
    }
}
@media screen and (min-width: 501px){
    .hidden-fullscreen{
        display: none;
    }
}
@media screen and (max-width: 575px){
    #leftArea{
        width: 100%;
        padding-top: 5px;
    }
    #RightArea{
        width: 100%;
        height: 475px;
        /*height: 100%;*/
    }
    .col-md-8{
        width: 100%;
    }
    .col-md-4{
        width: 100%;
    }
    #yantra_list ul li img{
        max-width: 100%;
    }
    #yantra_list ul li{
        max-width: 100%;
        width: 32%;
    }
    #yantra_list > form > ul{
        overflow-y: scroll;
        height: 432px;
    }
    #content .lefttime{
        border-right: 0;
        font-size: 15px;
        font-weight: normal;
        height: 100%;
        padding-top: 0px;
    }
    #content .lefttext {
        float: none;
        margin-top: 0;
        text-align: center;
        width: 100%;
    }
    #content .rightyantra {
        box-sizing: border-box;
        float: left;
        text-align: center;
        width: 100%;
    }
    .hidden-mobile{
        display: none !important;
    }
    #CurrentTime{
        margin: 0;
    }
    .logininfo{
        float:left;
    }
    #CurrentTimer{
        margin: 12px 29px 5px;
    }
}

