body 
{
	margin: 0px; padding: 0px; 
	height: 100%;
	background:none;
}

.mainwrapper { border:1px solid black;width:375px;margin:0px auto;background:white;padding:10px; }
.subwrapper { font-size:30px; text-align:center; border-bottom:dotted 2px #514F4F; padding-bottom:5px; margin-bottom:5px; }
.subdate { font-size:24px; margin-bottom:5px; }
#tableList td { font-size:22px; }
.formwrapper { margin:0px auto; padding:10px; text-align:center }
.newwrapper { width:450px; }

@media print
{
.pagebreak { page-break-after:always; }
}