.site-title{
    font-size: 29px;
    color: #000080;
    display: inline;
}
#RightArea {
    background: none repeat scroll 0 0 #ffff00;
    height: 325px;
}
.buy {
    background: -moz-linear-gradient(90deg, #916366 0%, #c79094 40%, #ffffff 100%);
    background: -webkit-gradient(linear, 90deg, color-stop(0%, #916366), color-stop(40%, #c79094), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(90deg, #916366 0%, #c79094 40%, #ffffff 100%);
    background: -o-linear-gradient(90deg, #916366 0%, #c79094 40%, #ffffff 100%);
    background: -ms-linear-gradient(90deg, #916366 0%, #c79094 40%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#916366', endColorstr='#ffffff', GradientType='0');
    background: linear-gradient(0deg, #916366 0%, #c79094 40%, #ffffff 100%);
}
#Righttop {
    color: #000000;
    margin: 0px 10px 0px 37px;
    min-height: 45px;
    text-align: right;
    width: 60%;
    display: inline-block;
}
body{
    background-color: #ffff00;
}
@media only screen and (min-height : 1000px){
    #yantra_content #content{
        height: auto;
        margin: 0 auto;
        overflow: auto;
        padding-right: 0;
        width: 100%;
        max-height: 15%;
    }
}
@media only screen and (min-width : 1001px){
    .fullscreen-hidden {
        display: none;
    }
}
@media only screen and (max-width : 1000px){
    #content .rightyantra {
        box-sizing: border-box;
        float: left;
        text-align: center;
        width: 55%;
    }
    #content .lefttext {
        float: left;
        margin-top: 0;
        text-align: center;
        width: 45%;
    }
    #content .lefttime {
        border-right: solid 1px #000000;;
        font-size: 24px;
        font-weight: normal;
        height: 84px;
        padding-top: 32px;
        /*color: #ffffff;*/
        color: #000000;
    }
    #footer .lreceipt{
        margin-left: 0px;
        margin-top: 10px;
        padding: 8px 0;
    }
    #footer .can{
        padding: 8px 0;
        margin-left: 0px;
    }
    #footer .clar{
        margin-left: 0px;
        padding: 8px 0;
    }
    #footer .pdetail{
        padding: 11px 15px;
    }
    .currenDate{
        font-size: 25px;
    }
    #closeDiv {
        background-color: #ff3300;
        color: #ffffff;
        font-size: 20px;
        margin: 0;
        padding: 4px 22px 4px 8px;
        width: 18px;
    }
    .centerPopupinput {
        border-radius: 3px;
        margin: 14px;
        padding: 4px;
        text-align: center;
        width: 161px;
        font-size: 33px;
    }
    #centerPopupInner {
        height: 500px;
        overflow-y: scroll;
    }
    #centerPopup{
        left: 32%;
    }
    .btn-buy-section {
        text-align: center;
    }
    .btn-buy-section > input#buy {
        height: 68px;
        width: 225px;
        font-size: 38px;
        font-weight: 700;
    }
    #footer{
        height: 210px;
    }
    .footer-btn {
        margin: 4px;
        width: 220px;
    }
    #footer input {
        border: 1px solid #666666;
        border-radius: 5px;
        color: #ffffff;
        display: inline;
        font-size: 32px;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 12px 7px;
    }
    #footer .barcodetext{
        display: inline-block;
        font-size: 30px;
        font-weight: normal;
        line-height: 27px;
        margin-left: 10px;
        text-align: right;
        vertical-align: middle;
        width: 140px;
    }
    #footer .luckyyantra{
        margin-top: 7px;
        padding: 10px 13px;
    }
    #footer .test2 {
        background-color: #C4E5B0;
        border: 2px inset #666;
        border-radius: 0;
        color: #000000;
        margin-left: 5px;
        text-align: center;
        width: 135px;
    }
    #footer .test1 {
        background-color: #F1F49C;
        border: #666 inset 2px;
        color: #000000;
        margin-left: 7px;
        text-align: center;
        width: 135px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
    }
    .col-md-8 {
        text-align: left;
        width: 100%;
        display: inline-block;
        float: left;
        padding: 30px 0px;
    }
    .col-md-4 {
        width: 100%;
        display: inline-block;
        float: none;
    }
    #Righttop .rightinfo .logininfo {
        margin-top: 64px;
    }
    .pnno{
        display: none;
    }
    .mobile-hidden {
        display: none;
    }
    #yantra_list ul li img {
        background-color: green;
        box-sizing: border-box;
        height: 300px;
        padding: 0;
        width: 180px;
        max-width: 100%;
    }
    #yantra_list ul li input {
        border: 2px inset #ffffff;
        display: block;
        margin: 5px auto auto;
        padding: 4px 7px;
        width: 101px;
        font-size: 20px;
    }
    #yantra_list ul li {
        display: inline-block;
        max-width: 192px;
        padding: 6px 0px;
    }
    .site-title{
        font-size: 40px;
        color: #000080;
        display: inline;
    }
    #CurrentTime{
        padding-left: 20px !important;
    }
    #slider1_container {
        margin: 0;
        padding: 10px 0px 10px 30px;
        width: 100%;
    }
    #leftArea {
        background: none repeat scroll 0 0 #ffff00;
        float: left;
        height: 356px;
        padding-top: 0px;
        text-align: center;
        width: 30%;
    }
    .prcblkinfo {
        padding-top: 32px;
    }
    #yantra_list {
        margin: 0px auto;
        padding: 0;
        text-align: center;
        width: 98%;
    }
    #RightArea {
        float: left;
        width: 100%;
        background: none repeat scroll 0 0 #ffff00;
        height: 715px;
    }
    #Righttop.mobile-hidden{
        min-height: 0px;
    }
    #CurrentTimer {
        color: #000000;
        float: right;
        font-size: 39px !important;
        font-weight: bold;
        margin: 66px 60px 32px 49px;
        padding: 0px 30px;
    }
    .prccls {
        font-size: 35px;
        text-align: center;
    }
    .dtcls {
        border: 1px solid #acb600;
        float: right;
        font-size: 30px;
    }
    #CurrentTime{
        margin: 19px 0 5px;
    }
}
#CurrentTime{
    margin: 2px 0 5px;
}
